<div class="top"></div>
<section class="movies-wrapper p-30">
    <div class="container">
    <h2 class="title p-30"><a href="" class="active"> Tất cả phim</a> <a href="#"> Phim đang chiếu</a> <a href="#"> Phim sắp chiếu</a></h2>
        <div class="row">
            <% for (let movie of movies){ 
                let getNameCategory = [];
                let temp = movie.categories
                for (let category of categories){
                    temp.forEach(e => {
                        if(e == category.value){
                        getNameCategory.push(category.title)
                    }
                    });  
                }
            %>
            <div class="col-md-3">
                <div class="single-movie">
                    <div class="single-movie__img">
                        <a href="<%= movie.slug %>">
                            <img src="../images/movies/<%= movie.imageUrl %>" alt="Movie">
                        </a>
                    </div>
                    <a class="single-movie__title" href="<%= movie.slug %> ">
                        <%= movie.title %>
                    </a>
                    <div class="single-movie__info">
                        <span class="single-movie__info--bold">Thể loại: </span>
                        <span class="single-movie__info--normal">
                            <%= getNameCategory %>
                        </span>
                    </div>
                    <div class="single-movie__info">
                        <span class="single-movie__info--bold">Thời lượng: </span>
                        <span class="single-movie__info--normal"><%= movie.time %> phút</span>
                    </div>
                    <div class="single-movie__info">
                        <span class="single-movie__info--bold">Khởi chiếu: </span>
                        <span class="single-movie__info--normal">
                            <%= movie.premiere.getDate() %>/<%= movie.premiere.getMonth()+1 %>/<%= movie.premiere.getFullYear() %>
                        </span>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>